* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: silver;
}

:root {
    --button-color: rgb(0, 132, 172);
    --shadow: rgba(0, 0, 0, 0.75);
}

header {
    padding: 30px 25px;
}

.see-high-scores {
    float: left;
    padding: 10px 15px;
    background-color: var(--button-color);
    font-size: 1.5vw;
    border-radius: 10px;
}

.see-high-scores:hover {
    box-shadow: 1px 1px 5px var(--shadow);
}

.start-quiz-btn {
    background-color: var(--button-color);
    padding: 10px 15px;
    font-size: 1.5vw;
    border-radius: 10px;
}

.content-area {
    margin: 20px 50px;
}

.quiz-title {
    text-align: center;
    font-size: 3.0vw;
    font-weight: bold;

}

.description {
    text-align: center;
    font-size: 1.3vw;
}
.start-quiz-btn:hover {
    box-shadow: 1px 1px 5px var(--shadow);
}